.inner {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    padding: 0px 48px;
    align-items: center;
    margin: 0 auto;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.df {
    display: flex;
}

.gnb1 .inner {
    justify-content: space-between;
    align-items: center;
}

.gnb1,
.gnb3 {
    width: 100%;
    background-color: var(--wild_sand);
}

.gnb1 {
    height: 36px;
}

.lists_1 {
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.lists_1 li {
    margin: 0 10px;
}

li a {
    list-style: none;
    text-decoration: none;
    color: var(--black);
}


.vertical-line {
    border-right: 1px solid;
    height: 12px;
    margin: 12px;
}

nav {
    position: relative;
    width: 100%;
}

.gnb2 {
    width: 100%;
    background-color: var(--white);
}

.gnb2 .inner {
    justify-content: space-between;
}



.gnb2 li>a {
    display: block;
    text-align: center;
    font-weight: 700;
}

.lists_2 {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.nikelogo {
    margin-right: auto;
}


.gnb2 .inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.dep2 {
    display: none;
    position: absolute;
    background-color: (var(--white));
    padding: 10%;
    width: 100%;
    left: 0;
    box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0 / 7%);
    transition: all 0.5s ease;
    height: 0;
    /* overflow: hidden; */
    padding: 0;
    text-align: center;
}

.lists_2 li:hover .dep2 {
    display: block;
}

.dep2 dt {
    color: var(--black);
    font-weight: bold;
    padding: 30px;
    
}
.dep2 dd {
    color: var(--black);
    padding: 30px;
    
}



/* gnb2*/

.input_group {
    align-items: center;
    gap: 20px;
}

.search-form {
    position: relative;
    width: 168px;
}

.search-form input {
    width: 100%;
    padding-right: 44px;
    border-radius: 1.5rem;
    border: 1px;
    background-color: var(--wild_sand);
    height: 2.25rem;
    display: flex;
    align-items: center;
}

.search-form input:hover {
    background-color: var(--french_gray);
    cursor: pointer;
}

.search-form button img {
    transition: all 0.3s ease;
}

.search-form button:hover {
    border-radius: 1.5rem;
    background-color: var(--french_gray);
    cursor: pointer;
}

.search-form button {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: none;
    background: none;
    padding: 0 10px;
}



.gnb3 .inner {
    height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.title {
    color: var(--cod_gray);
    text-align: center;
    font-family: "Noto Sans KR";
    padding: auto;
}

.ncs .inner img {
    width: 100%;
}

.ncs h1 {
    padding: 36px;
    font-size: 60px;
    font-style: normal;
    font-weight: bolder;
}

.ncs h2 {
    text-align: center;
    font-size: 16px;
    font-style: normal;
}


.title button {
    width: 110px;
    height: 40px;
    border-radius: 30px;
    color: var(--white);
    background: var(--cod_gray, #111);
    margin: 30px;
    font-size: 15px;
    font-weight: bold;
}

.title button:hover {
    background-color: var(--jumbo);
    cursor: pointer;
}


.slider1x2 {
    width: 100%;
}

.slider1x2 h2 {
    font-size: 32px;
    font-weight: bold;
}

.slider1x2 h3 {
    width: 100%;
    font-weight: bold;
    text-align: right;
    font-size: 16px;
}

.sliderbutton {
    justify-content: flex-end;
}



.circle-button1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: var(--wild_sand);
    color: var(--mercury);
    font-size: 24px;
    transition: background-color 0.3s;

}

.circle-button1:hover {
    background-color: var(--french_gray);
    color: var(--black);
    cursor: pointer;
}

.circle-button2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: var(--mercury);
    color: var(--black);
    font-size: 24px;
    transition: background-color 0.3s;
}

.circle-button2:hover {
    background-color: var(--french_gray);
    cursor: pointer;
}

.img_container {
    width: 100%;
    gap: 10px;
}